@font-face {
	font-family: RobotoThin;
    src: url("../fonts/roboto/Roboto-Thin.ttf")
}

@font-face {
	font-family: RobotoLight;
    src: url("../fonts/roboto/Roboto-Light.ttf")
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../img/background.jpg");
	background-attachment: fixed;
	background-repeat: repeat;
	font-family: RobotoLight;
}

td {
	/*display: inline-block;*/
	border-style: solid;
	border-width: 0px;
	border-color: white;
	padding: 1em;
	text-align: center;
	height: 4em;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td div.popupcontainer {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 1em;
	border-style: solid;
	border-width: 1px;
	border-color: #696969;
	z-index: -1;

	border-radius: 10px;

	transform: scale(0);
  	transition: all .35s ease-in-out;
}

td:hover div.popupcontainer {
	visibility: visible;
	opacity: 1;
	z-index: 200;
	transform: scale(1);
}

table.grille {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	padding: 2em;
	width: 75%;
	background-color: rgba(0, 0, 0, 0.25);
	color: white;
}

.outer {
	margin-left: auto;
	margin-right: auto;
}

div.sidebar {
	position: fixed;
	padding-left: 2em;
	padding-right: 2em;
	width: 170px;
	height: 100vh;
	float: left;
	color: white;
	background-color: rgba(0, 0, 0, 0.75);
}

div.sidebar > form {
	padding-top: 2em;
}

div.main {
	margin-left: 180px;
}

button {
	border: none;
	background-color: DarkGray;
	border-radius: 50%;
	padding: 1em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
	width: 170px;
	font-variant-caps: small-caps;
	font-family: OCR A Std, monospace;
	font-size: 15px;
}

.hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.click {
	opacity: 0.5;
}

.winner {
	color: green;
}

.loser {
	color: red;
}

.player {
	color: rgb(0, 255, 0);
}

.player_background {
	background-color: rgba(0, 255, 0, 0.8);
}

.neutral {
	color: blue;
}

.neutral_background {
	background-color: rgba(0, 0, 255, 0.8);
}

.enemy {
	color: red;
}

.enemy_background {
	background-color: rgba(255, 0, 0, 0.8);
}

.scrollbar {
	float: left;
	height: 200px;
	width: auto;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0);
}

.scrollbar::-webkit-scrollbar {
	width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: DarkGray;
}

.force-overflow {
	min-height: 450px;
	width: 170px;
}

.separator {
	height: 50px;
}