@font-face {
	font-family: RobotoThin;
    src: url("../fonts/roboto/Roboto-Thin.ttf")
}

@font-face {
	font-family: RobotoLight;
    src: url("../fonts/roboto/Roboto-Light.ttf")
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../img/background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: RobotoLight;
	color: white;
}

.container {
	height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child {
	padding: 2em;
    width: auto;
    background-color: rgba(0, 0, 0, 0.75);
}

.gamesfound > form {
	display: inline;
}

.button {
	border: none;
	background-color: DarkGray;
	border-radius: 50%;
	padding: 1em;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
}

input.centered {
  display: inline-block;
  float: left;
}

#selector {
	background: DarkGray;
	border: none;
	padding: 8px;
	font-size: 14px;
	border-radius: 20px;
	margin-right: 1em;
}

#nbc, #nbl, #nbj {
	width: 15%;
	border-radius: 25px;
}