body {
    margin: 0;
    padding: 0;
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    display: block;
    margin: 8px;
}
td {
	/*background-image: url("img/EarthXP.ico");
	background-repeat: no-repeat;
	background-position: center;*/
	border-style: solid;
	border-width: 0px;
	border-color: white;
	padding: 2em;
}

.img {
	position: relative;
	float: left;
}

.text {
	position: relative;
	float: right;
}

table.grille {
	margin-right: 2cm;
	margin-left: auto;
	margin : 2% ;
	color: white;
}

.outer {
	margin-left: auto;
	margin-right: auto;
}



