@font-face {
	font-family: RobotoThin;
    src: url("../fonts/roboto/Roboto-Thin.ttf")
}

@font-face {
	font-family: RobotoLight;
    src: url("../fonts/roboto/Roboto-Light.ttf")
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../img/background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: RobotoLight;
}

td {
	border-style: solid;
	border-width: 0px;
	border-color: white;
	padding: 2em;
}

.img {
	position: relative;
	float: left;
}

.text {
	position: relative;
	float: right;
}

table.grille {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	padding: 2em;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
}

.outer {
	margin-left: auto;
	margin-right: auto;
}

div.sidebar {
	width: 178px;
	float: left;
}

div.main {
	margin-left: 178px;
}

.hover {
	background-color: red;
}

.click {
	background-color: yellow;
}